/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Root */
:root {
    font-size: 15px;
  --main-font-family: 'Roboto', "sans-serif" ;
  --main-text-color: rgba(204, 204, 204, 1);
  --shortcut-background-color: rgba(241, 243, 244, 1);
  --background-color: rgb(60, 64, 67);
}
/* Main Things */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
  }
/* Container */
.container {
  width: 80%;
  margin: auto;
}
h1{
    font-family: var(--main-font-family);
}