/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
/* Root */
:root {
  font-size: 16px;
  --main-font-family: "Roboto", "sans-serif";
  --description-font-family: "Roboto Mono", monospace;
  --main-text-color: rgba(241, 243, 244, 1);
  --shortcut-color: rgb(119, 119, 119);
  --background-color: rgb(60, 64, 67);
}
/* Main Things */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-family);
}
/* Container */
.container {
  width: 80%;
  margin: auto;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  height: 30vh;
}
.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.header-title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--background-color);
}
.header-title-description {
  width: 21em;
  font-family: var(--description-font-family);
  color: var(--shortcut-color);
  font-size: 1.5rem;
}
/* Main Section */
.main {
  height: 70vh;
}
.main-container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-section {
  width: 50%;
  display: flex;
  height: 3.2em;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data-section-input {
  background: rgba(252, 252, 252, 0.534);
  width: 70%;
  height: 100%;
  border: none;
  padding: 0 1rem;
  border: 1px solid gray;
  border-radius: 25px;
}
.data-section-input:focus {
  outline: none;
}

.submitButton {
  color: var(--main-text-color);
  background-color: var(--background-color);
  font-weight: 700;
  font-size:1rem;
  width: 20%;
  height:100%;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.list {
  width: 100%;
  height: 5vh;
  background-color: var(--main-text-color);
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.card-stick {
  width: 28%;
  height: 70vh;
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 5px 5px 25px 10px #d6d6d6;
}

.card-img {
  width: 100%;
  height: 65%;
  object-fit: cover;
}
.card-stick:hover {
  transition: 0.5s;
  transform: scale(1.04);
  cursor: pointer;
}
.card-main-data {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25%;
}
.card-data-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title {
  width: 70%;
  font-size: 1.2rem;
  color: #444;
  margin: 0 2.5% 0 0;
}
.card-anime-date {
  margin: 0 2.5%;
  width: 30%;
}
.card-description {
  font-size: 1rem;
  color: var(--shortcut-color);
}
.anime-tags {
  color: var(--background-color);
  font-size: 1.1rem;
}

.card-more-description {
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

/* Animation Key frames */
.typewriter-text {
  overflow: hidden;
  position: relative;
  border-right: 2px solid var(--shortcut-color);
  font-size: 1.5rem;
  white-space: nowrap;

  animation: typewriter 6s steps(50) 1s 1 normal both,
    blinkTextCursor 600ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0%;
  }

  to {
    width: 38%;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: var(--shortcut-color);
  }

  to {
    border-right-color: transparent;
  }
}

@media screen and (max-width: 1024px) {
  .card-stick {
    width: 45%;
    margin: 2.5%;
  }
  .header-title {
    font-weight: 600;
    font-size: 2.5rem;
  }
  .header-title-description {
    display: none;
  }
  .data-section {
    width: 90%;
  }
  .data-section-input {
    padding: 25px;
  }
  .main-container{
    height: 10%;
  }
}

@media screen and (max-width: 768px) {
  .card-stick {
    width: 90%;
    margin: 5% 0;
  }
  .header-title {
    font-weight: 600;
    font-size: 2rem;
  }
  .header-title-description {
    display: none;
  }
  .data-section {
    width: 100%;
    height:100%;
  }
  .data-section-input {
    width: 70%;
    height: 100%;
    padding: 25px;
  }
  .submitButton{
    width: 20%;
    padding: 0;
  }
  .main-container{
    height: 10%;
  }
}
