/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
/* Root */
:root {
  font-size: 16px;
  --main-font-family: "Roboto", "sans-serif";
  --description-font-family: "Roboto Mono", monospace;
  --main-text-color: rgba(241, 243, 244, 1);
  --shortcut-color: rgb(119, 119, 119);
  --background-color: rgb(60, 64, 67);
}
/* Main Things */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font-family);
}
/* Container */
.container {
  width: 80%;
  margin: auto;
}
body {
  background-color: var(--main-text-color);
}
.header {
  height: 30vh;
}
.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.header-title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--background-color);
}
.header-title-description {
  width: 21em;
  font-family: var(--description-font-family);
  color: var(--shortcut-color);
  font-size: 1.5rem;
}
/* Main Section */
.main {
  height: 70vh;
}
.main-container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-section {
  border: 1px solid var(--main-text-color);
  width: 45%;
  display: flex;
  height: 3.2em;
  border:1px solid var(--background-color);
  border-radius: 1.5rem;
  overflow: hidden;
}
.data-section-input {
  background-color: var(--main-text-color);
  width: 100%;
  height: 100%;
  border: none;
  padding: 0 1rem;
}
.data-section-input:focus {
  outline: none;
  
}
.list {
  width: 100%;
  height: 5vh;
  background-color: var(--main-text-color);
}
.events-section{
  margin-bottom: 500px;
  min-height: 900px;
}
.events-container{
  display:flex;
  flex-wrap: wrap; ;
}
.event-card{
  border: 1px  solid var(--background-color);
  width:28%;
  height: 600px;
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.event-img{
  width: 100%;
  height: 65%;
}
.event-title{
  color: #444
}
.event-description{
  font-size: 1rem;
  color: var(--shortcut-color);
}
.event-card-main-data{
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height:25%;
}
.evente-more-description{
  height: 10%;
  display: flex;
  align-items: center;
  text-align: center;
}
.event-date{
  flex: 1;
}
.event-price{
  flex: 1;
}
/* Animation Key frames */
.typewriter-text {
  overflow: hidden;
  position: relative;
  border-right: 2px solid var(--shortcut-color);
  font-size: 1.5rem;
  white-space: nowrap;

  animation: typewriter 6s steps(50) 1s 1 normal both,
    blinkTextCursor 600ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 26em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: var(--shortcut-color);
  }

  to {
    border-right-color: transparent;
  }
}
